{%extends 'base.html'%}

{%block content%}
<div class="row">
  <div class="col-sm-3">
    <h1> {{object.user|capfirst}}</h1>
  </div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="media text-muted pt-3">
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="a-block text-gray-dark"><a href="#"><h6>@{{object.user}}</a></h6></strong><br>
            {{object.content}}<br>
            {{object.timestamp | timesince}}
          </p>
        </div>
          </div>
</div>

{% endblock content %}
